In [1]:
print('hello world')

hello world

In [2]:
print('good evening rifina')

good evening rifina

In [3]:
a = 3

In [4]:
a

3

In [5]:
b = 5

In [6]:
b

5

In [7]:
a + b

8

In [8]:
a = 5

In [9]:
a

5

In [10]:
c = a + b

In [11]:
c

10

In [12]:
a = 17
b = 12
c = a + b
c

29

In [13]:
c = a * b

In [14]:
c

204

In [20]:
a = input('enter first number')
b = input('enter second number')
c = int(a)/int(b)
c

enter first number12
enter second number15

0.8

In [21]:
a = input('enter first name')
b = input('enter second name')
c = a + b
c

enter first namegeo
enter second namejeniper

'geojeniper'

In [23]:
a = input('enter first name')
b = input('enter second name')
c = a + b
c

enter first namealan
enter second namejoe

'alanjoe'

In [24]:
print('a =

a = 2222

In [25]:
print('b = 4444')

b = 4444

In [26]:
print('c = a + b')

c = a + b

In [27]:
c

'alanjoe'

In [24]:
a = input('enter first number')
b = input('enter second number')
c = input('enter third number')
d = int(a) + int(b) / int(c)
d

entrer first number11
enter second number15
enter third number22

11.681818181818182

In [3]:
temperature = int(input('what is the temp'))
if temperature <30:
   print('cold day...')
else:
    print('hot day!!!')

what is the temp29
cold day...